/*-- Overall Document --*/

* {
	box-sizing: border-box;
}

/*-- Page Defaults --*/
header {
	padding: 140px 0 40px 0;
	position: relative;
}

footer {
	padding: 25px 0 70px 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #CDDC39
}

p {
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: #222222;
}

p a { 
    color: #222222;
    text-decoration: none;
    cursor: auto;
    border-bottom: 1px solid #468b88;
}

p a:hover { 
    color: #468b88;
}

/*-- Fonts --*/

.roboto_font {
	font-family: "Roboto", sans-serif;
}

.lato_font {
	font-family: "Lato", sans-serif;
}

.indie_font {
	font-family: "Indie Flower", sans-serif;
}

.opensans_font {
	font-family: "Open Sans", sans-serif;
}

.light_font {
	font-weight: 300;
}

/*-- Content --*/

.hide {
	display: none;
}

.main_content {
	padding: 50px 0 100px 0;
	background-color: #FFFFFF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.center-text {
	text-align: center;
}

#fieldset {
	border-style: solid;
	background-color: #FFFFFF;
	border-width: 2px;
	border-radius: 10px;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	min-width: 300px;
}

#submitbutton {
	font-family: "Open Sans";
	border-width: 1px;
	border-color: #9E9D24;
	border-style: solid;
	background-color: #CDDC39;
	color: #222222;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 15px;
}

#username_field {
	font-family: "Open Sans";
	border-width: 1px;
	border-color: #9E9D24;
	border-style: solid;
	background-color: #FFFFFF;
	color: #222222;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: lowercase;
	font-size: 15px;
}

#welcome_rating_info {
	margin-top: 0px;
	font-size: small;
}

#welcome_rating_banner {
	font-size: xx-large;
	font-family: "Lobster Two";
	margin-top: 0px;
	color: #FF9800;
}

.error {
	color: #F44336;
}

.smiley {
	width: 250px;
	height: 250px;
	margin-bottom: 10px;
}

.smiley_select {
	width: 110px;
	height: 110px;
	cursor: pointer;
}

.smiley_select_text {
	font-size: small;
	margin: 0;
}

.smiley_legend {
	width: 25px;
	height: 25px;
}

#smiley_set {
	border-style: dotted;
	border-color: #222222;
	background-color: #FFFFFF;
	border-width: 2px;
	border-radius: 10px;
	padding: 50px;
	margin-top: 25px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#main_smiley_box {
	padding: 20px;
	cursor: pointer;
}

#heading {
	font-size: xx-large;
	margin: 0;
	text-transform: uppercase;
}

#question {
	font-size: large;
	margin-bottom: 30px;
}

#selections {
	width: 100%;
	padding: 10px;
	background-color: #F2F2F2;
	-webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
    padding: 25px 0px 25px 0px;
}

#meter_box {
	background-color: #FFFFFF;
	padding-top: 10px;
}

#what_is_this {
	font-size: x-small;
	margin-top: 15px;
	margin-bottom: 40px;
	cursor: pointer;
}

#what_is_this_username {
	font-size: x-small;
	margin-top: 20px;
	margin-bottom: 0px;
	cursor: pointer;
}

.description {
	width: 100%;
	height: 100%;
	padding: 50px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(34,34,34,0.5);
}

.description_box {
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 25px 10px rgba(34,34,34,0.5);
	overflow: auto;
}

.description_text {
	padding: 10px 10px 20px 10px;
}

.close {
	position: fixed;
	top: 0;
	right: 20px;
	color: white;
	font-size: 40px;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
}

.no_scroll {
	overflow: hidden;
}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.table_heading {
	font-weight: bold;
}

#legend_table td {
	padding-right: 10px;
	padding-left: 10px;
}

#legend_table th {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
}

.transparency {
	opacity: 0.25;
}

.border {
	border-width: 1px;
	border-radius: 65px;
	border-style: dashed;
}

.smiley_box {
	width: 130px;
	height: 130px;
	padding: 10px;
	display: inline-block;
}

#people_ratings_container {
	height: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.people_rating_image {
	max-height: 100%;
	margin-right: 0.3rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.people_rating_image:nth-last-child(1) {
	margin-right: 0rem;
}

#mood_over_time {
	padding-bottom: 2rem;
}